# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Java
*.class
 
# Package Files
*.jar
*.war
*.ear
 
# IntelliJ
*.iml
*.ipr
*.iws
.idea/
 
# Eclipse
*.pydevproject
.metadata
*.project
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# Maven
target/

# PDT-specific
.buildpath

# CDT-specific
.cproject

# Locally stored "Eclipse launch configurations"
*.launch

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.springBeans
.db
/bin
